In [11]:
import pandas as pd
import mysql.connector

df = pd.read_csv("Last_korea_tour.csv")

df = df.where(pd.notnull(df), None)

conn = mysql.connector.connect(
    host='52.79.103.108',         # MySQL 서버 주소 (예: 'localhost')
    user='root',     # MySQL 사용자 이름
    password='ee62849406', # MySQL 비밀번호
    database='drivel'  # 사용할 데이터베이스 이름
)
cursor = conn.cursor()

# 테이블 생성 (이미 존재할 경우 생략)
cursor.execute('''
CREATE TABLE IF NOT EXISTS tour_spot (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255),
    address VARCHAR(255),
    firstimage TEXT,
    secondimage TEXT,
    longtitude DOUBLE,
    latitude DOUBLE
)
''')

# 데이터 삽입
for _, row in df.iterrows():
    cursor.execute('''
    INSERT INTO tour_spot (title, address, firstimage, secondimage, longtitude, latitude)
    VALUES (%s, %s, %s, %s, %s, %s)
    ''', (row['Title'], row['Address'], row['firstimage'], row['secondimage'], row['longtitude'], row['latitude']))

# 커밋 및 연결 종료
conn.commit()
cursor.close()
conn.close()

In [1]:
import pandas as pd
import mysql.connector

df = pd.read_csv("Last_korea_tour.csv")


df = df.where(pd.notnull(df), None)

# MySQL 데이터베이스 연결
conn = mysql.connector.connect(
    host='52.79.103.108',         # MySQL 서버 주소 (예: 'localhost')
    user='root',     # MySQL 사용자 이름
    password='ee62849406', # MySQL 비밀번호
    database='drivel'  # 사용할 데이터베이스 이름
)
cursor = conn.cursor()

# 데이터 삽입
for _, row in df.iterrows():
    cursor.execute('''
    INSERT INTO tour_spot (title, address, firstimage, secondimage, longtitude, latitude)
    VALUES (%s, %s, %s, %s, %s, %s)
    ''', (row['Title'], row['Address'], row['firstimage'], row['secondimage'], row['longtitude'], row['latitude']))

# 커밋 및 연결 종료
conn.commit()
cursor.close()
conn.close()